.main-text {
    h2 {
        font-size: 1.75rem;
        line-height: 1;
    }

    .shop-now {
        font-size: 0.75rem;
        text-decoration: none;
        letter-spacing: 0.75rem;
        //Change font weight?
        font-weight: 600;
    }
}