.main-text {
    position: relative;
    z-index: 1;
    background-color: white;

    .main-text-content {}

    h2 {
        font-size: 1.6rem;
        line-height: 1;
        margin-bottom: 1rem;
    }

    .shop-now {
        position: relative;
        z-index: 5;
        cursor: pointer;
        font-size: 0.75rem;
        text-decoration: none;
        letter-spacing: 0.8rem;
        font-weight: 600;
        transition: color 0.2s;

        &:hover {
            color: hsl(0, 0%, 63%);
        }
    }
}

.active {
    animation: slideInto 300ms ease-out;
    display: flex;
    flex-direction: column;
}

.disable {
    display: none !important;
}



@media (min-width: 1440px) {
    .main-text {
        h2 {
            font-size: 2.5rem;
            line-height: 1.3;
            margin-bottom: 0rem;
        }

        .shop-now {
            font-size: 1rem;
            text-decoration: none;
            letter-spacing: 0.75rem;
            //Change font weight?
            font-weight: 600;
        }
    }

    .main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .main-text-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            width: 70%;
        }

        .shop-now {
            margin: 2rem 0;
        }
    }
}