nav.navigation {
    position: absolute;
    font-size: 0.75rem;
    font-weight: 600;
    z-index: 5;

    .nav-bar-control {
        cursor: pointer;
    }
}

//Navbar
.nav-bar {
    width: 100vw;
    padding: 1rem 2rem;
    min-height: 125px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;

    .empty {
        width: 35px;
        height: 27px;
    }
}

//Navbar list
nav.nav-list {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
    transition: transform 300ms ease-in-out;
    transform: translateX(100%);
    background-color: white;
    padding: 1rem 2rem;
    min-height: 125px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.nav-active {
        transform: translateX(0);
    }

    ul {
        list-style: none;
        display: flex;
        width: 75%;
        justify-content: space-between;
        align-items: center;

        li {
            cursor: pointer;
            text-transform: lowercase;
            font-weight: bold;
        }
    }
}

.mask {
    height: 90vh;
    background-color: black;
    opacity: 0.6;
    transition: transform 300ms ease-in-out;
    transform: translateY(-150%);
    z-index: -1;
}

.mask-active {
    transform: translateY(0);
}

@media (min-width: 1440px) {

    .mask,
    .empty {
        display: none;
    }

    nav.navigation {
        width: 100%;
        padding-left: 2rem;
        display: flex;
        justify-content: flex-start;
        color: white;

        .nav-bar-control {
            display: none;
        }
    }

    .nav-bar {
        width: fit-content;
        padding: 1rem 2rem;
        min-height: 125px;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

    }

    nav.nav-list {
        font-weight: 600;
        width: 50%;
        position: static;
        z-index: 2;
        transition: transform 300ms ease-in-out;
        transform: translateX(0);
        background-color: transparent;
        padding: 1rem 2rem;
        min-height: 125px;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}