@media (min-width: 1440px) {
    .static-img-area {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .static-img-1 {
        background-image: url('../images/image-about-dark.jpg');
    }

    .static-img-2 {
        background-image: url('../images/image-about-light.jpg');
    }
}