.standard-text {
    font-size: 0.8rem;
    margin-bottom: 4rem;
    // opacity: 0.5;
    color: hsl(0, 0%, 63%);
}

.mobile-text-padding {
    padding: 5rem 2rem;
}

.title-mb {
    margin-bottom: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}