.standard-text {
    font-size: 0.8rem;
    margin-bottom: 3rem;
    color: hsl(0, 0%, 63%);
}

.mobile-text-padding {
    padding: 4rem 2rem;
}

.uppercase {
    text-transform: uppercase;
}

.mobile-img {
    display: block;
    width: 100%;
}

@media (min-width: 1440px) {
    .standard-text {
        margin-bottom: 0;
    }

    .mobile-text-padding {
        padding: 0rem;
    }

    .mobile-img {
        display: none;
    }
}