//Colors
$color-attribution: hsl(228, 45%, 44%);
$color-white: white;
$color-black: black;
$color-black-transparent: rgba(0, 0, 0, 0.6);
$color-black-transparent-darker: hsl(0, 0%, 27%);
$color-text: hsl(0, 0%, 63%);